<div id="ember-chennai-footer" class="w-full bg-brown z-50 py-4 px-2 mt-auto relative">
  <div class="container text-white mx-auto">
    <div class="flex justify-center mb-3 mt-2">
      <LinkTo @route="code-of-conduct" class="text-white pr-5 no-underline">
        Code of Conduct
      </LinkTo>
      {{!-- <div> * </div>
      <LinkTo @route="faq" class="no-underline pl-5 pr-5">
        <span class="text-white">FAQs</span>
      </LinkTo> --}}
      <div> * </div>
      <a href="https://github.com/chennai-emberjs/website" target="_blank" rel="noopener" class="text-white no-underline pl-5">
        <span>View the code</span>
      </a>
    </div>
    <div class="flex justify-center text-xs">
      © 2019 Chennai EmberJS
    </div>
  </div>
</div>
