<div id="ember-chennai-footer" class="w-screen z-50 bg-blue-dark py-4 px-2 relative">
  <div class="container mx-auto">
    <div class="flex justify-center text-white mb-3 mt-2">
      <a class="pr-5"> code of conduct </a>
      <div> * </div>
      <a class="pl-5">  FAQs </a>
    </div>
    <div class="flex justify-center text-white text-xs">
      emberjs-chennai@2019
    </div>
  </div>
</div>