@import 'tailwind';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

@import 'footer';