@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Custom made tailwind components and overrides
@import "tailwind-components";

@import "custom-page-styles";

html,
body {
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.talks-schedule {
  background: linear-gradient(90deg, #E78663 6.49%, #F1B481 95.38%);

  .tomster {
    height: 100px;
    left: -80px;
    top: -15px;
  }
}

.speaker-item {
  height: 240px;
  width: 300px;
}

.speaker-name {
  background: linear-gradient(192.39deg, #812849 8.97%, #E05C43 136.39%);
}

@import 'footer';

