@import 'tailwind';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.speaker-image {
  height: 300px;
}

@import 'footer';
