<PageTitle @titleText="About us" />

<div class="container mx-auto mt-10  mb-5">
  <p class="p-5 text-2xl">
    Chennai EmberJS is a place where local web developers can come and learn about the <a href="https://emberjs.com">EmberJS web framework.</a> All experiences and backgrounds welcome. There will also be opportunities for networking and getting to know other Ember developers in the area.
    
    <br>
    Meetings typically include short talks from web developers using Ember for job or hobby.
  </p>
</div>