<PageTitle @titleText="About us" />

<div class="container mx-auto mt-10  mb-5">
  <div class="text-2xl">
    Ember meetup is the best place to meet the folks behind the magic. You’ll hear from members of the Ember Core Team, top community contributors and users, and help shape the future of Ember.
  </div>
</div>