<div class="container mx-auto flex pt-5 h-screen-three-forth absolute pin z-10">
  <div class="flex-1 flex-full-center text-5xl font-bold text-white">
    EmberJS <br> Chennai
  </div>
  <div class="md:mt-16">
    <img src="assets/images/small-tomster-logo.png" class="h-32" alt="tomster logo">
  </div>
  <div class="flex-1 flex-full-center text-xl">
    <button class="bg-red-dark hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">
      Join the Meetup group
    </button>
  </div>
</div>
<div class="flex flex-full-center">
  <img src="assets/images/central_bg.png" class="mt-32 pt-20" alt="chennai central pic">
</div>

<div class="w-screen bg-red-dark">
  <div class="container mx-auto p-10 text-xl">
    <p class="text-white mb-5">
      வணக்கம் Chennai,
    </p>
    <p class="text-white">
      We are looking forward to our first Ember meet-up on August 3rd, 2019 (Saturday).
      Join us at Freshworks office at 9 AM for some amazing talks.
    </p>
  </div>
</div>

<div class="flex flex-col items-center p-10">
  <img src="assets/images/emberconf-2018.png" class="h-32" alt="tomster happy logo">
  <div class="text-grey-dark text-2xl mt-5">August 2019 Meetup features talks by...</div>

  <div class="flex-full-center flex-wrap">
    <a class="flex flex-col w-1/5 m-2 border-4 border-red-dark rounded shadow">
      <img src="assets/images/AB.jpg" alt="">
      <div class="flex-full-center bg-grey-light p-1">Abhilash L.R</div>
    </a>
    <a class="flex flex-col w-1/5 m-2 border-4 border-red-dark rounded shadow">
      <img src="assets/images/AB.jpg" alt="">
      <div class="flex-full-center bg-grey-light p-1">Abhilash L.R</div>
    </a>
    <a class="flex flex-col w-1/5 m-2 border-4 border-red-dark rounded shadow">
      <img src="assets/images/AB.jpg" alt="">
      <div class="flex-full-center bg-grey-light p-1">Abhilash L.R</div>
    </a>
    <a class="flex flex-col w-1/5 m-2 border-4 border-red-dark rounded shadow">
      <img src="assets/images/AB.jpg" alt="">
      <div class="flex-full-center bg-grey-light p-1">Abhilash L.R</div>
    </a>
    <a class="flex flex-col w-1/5 m-2 border-4 border-red-dark rounded shadow">
      <img src="assets/images/AB.jpg" alt="">
      <div class="flex-full-center bg-grey-light p-1">Abhilash L.R</div>
    </a>
  </div>

  <a class="text-grey-dark text-base mt-5">
    Click here to view the whole schedule
  </a>
</div>

<div class="container mx-auto flex-full-center-col mt-5 mb-32">
  <h2 class="mb-5 text-grey-dark flex flex-col">
    OUR SPONSOR
    <span class="flex-1 border border-grey-dark"></span>
  </h2>
  <a href=""><img src="assets/images/logo-fworks-black.svg" class="h-24" alt=""></a>
</div>