<div class="hero-section relative mt-12 min-h-screen">
  <div class="text-center pt-20
      md:pt-32 pb-16">
    <div class="container mx-auto inline-block my-20
        md:my-24">
      <div class="mb-2 mx-auto inline-block font-semibold">
        <span class="uppercase text-white text-4xl
            md:text-5xl">
          EmberJS
          <span class="inline md:hidden lg:hidden">&nbsp;</span>
          Chennai
          <span class="hidden sm:inline">Chapter</span>
        </span>
        <div class="clearfix"></div>
        <div class="text-amber-light inline-block float-left font-normal text-xs
            sm:text-sm
            md:text-xl
            lg:text-3xl">
          29th February 2020
        </div>
        <div class="text-amber-light inline-block float-right font-normal text-xs
            sm:text-sm
            md:text-xl
            lg:text-3xl">
          Freshworks, Chennai, IN
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <a class="btn primary-btn"
        href="https://www.meetup.com/EmberJS-Chennai/events/265579607/" target="_blank" rel="noopener">
      RSVP for meetup
    </a>
  </div>

  <img class="hero-image absolute bottom-0 w-full z-10
      md:z-negative sm:z-negative"
    src="assets/images/hero-central-bg.png"
    alt="hero-image">
</div>

<div class="hero-footer hidden
    md:block">
  <svg viewBox="0 0 1441 85" fill="none" xmlns="http://www.w3.org/2000/svg" class="pin-b h-32 z-10 w-full h-auto">
    <path d="M0 38.5L459.5 0L1176 46L1441 0V85H706H0V38.5Z" fill="#FDFDFD" />
  </svg>
</div>



{{!-- <div class="mt-12 w-screen">
  <div class="container mx-auto p-5 text-xl">
    <p class="mb-5">
      Hello Chennai,
    </p>
    <p>
      We look forward to our second EmberJS meet-up on November 9th, 2019 (Saturday).
      Join us at Freshworks office at 9 AM for some amazing talks.
    </p>
  </div>
</div> --}}

<div class="container mx-auto flex flex-col items-center p-10 bg-white">
  <h3 class="mb-10 mt-5">Speakers of the last meetup - November 2019</h3>

  <div class="w-10/12 flex-full-center flex-wrap">

    <div class="flex flex-col mx-16 my-8">
      <div class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/meetup-2-nov-9/isaac_lee.jpg" class="h-full w-full object-cover" alt="">
      </div>
      <div class="flex-full-center mt-2">
        Isaac Lee
      </div>
      <a class="flex-full-center mt-1 text-blue-dark"
          href="https://www.linkedin.com/in/ijlee2/"
          target="_blank" rel="noopener">
        @ijlee2
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <div class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/meetup-2-nov-9/siva-ember.jpg" class="h-full w-full object-cover" alt="">
      </div>
      <div class="flex-full-center mt-2">
        Sivasubramanyam A
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/sivaSupermanyam" target="_blank" rel="noopener">
        @sivaSupermanyam
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <div class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/meetup-2-nov-9/Dilip-Kushwaha.jpeg" class="h-full w-full object-cover" alt="">
      </div>
      <div class="flex-full-center mt-2">
        Dilip Kushwaha
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://www.linkedin.com/in/dilipkushwaha/" target="_blank" rel="noopener">
        @dilipkushwaha
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <div class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/meetup-2-nov-9/varun-ananth.jpeg" class="h-full w-full object-cover" alt="">
      </div>
      <div class="flex-full-center mt-2">
        Varun Ananth
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://www.linkedin.com/in/varun-ananth-7b7336114/" target="_blank" rel="noopener">
        @varun-ananth-7b7336114
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <div class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/meetup-2-nov-9/VasanthaKumar.jpeg" class="h-full w-full object-cover" alt="">
      </div>
      <div class="flex-full-center mt-2">
        VasanthaKumar
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/vash_flash" target="_blank" rel="noopener">
        @vash_flash
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <div class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/meetup-2-nov-9/vivek.jpg" class="h-full w-full object-cover" alt="">
      </div>
      <div class="flex-full-center mt-2">
        Kandha Vivek Raj
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/keviv_raj" target="_blank" rel="noopener">
        @keviv_raj
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <div class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/meetup-2-nov-9/manu-image.jpg" class="h-full w-full object-cover" alt="">
      </div>
      <div class="flex-full-center mt-2">
        Manu Pandit
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://www.linkedin.com/in/manurampandit/" target="_blank" rel="noopener">
        @manurampandit
      </a>
    </div>

  </div>

</div>

<div class="flex flex-col talks-schedule">

  <div class="p-10">
    <h3 class="text-center mb-12">Previous Schedule - November 2019</h3>

    <TalksSchedule />


    {{!-- <div class="mt-10 text-center">
      <LinkTo @route="schedule" class="btn primary-btn">
        Detailed Schedule
      </LinkTo>
    </div> --}}

  </div>

  {{!-- SVG angled Border for schedule section --}}
  <svg viewBox="0 0 1441 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-auto">
    <path d="M0 78.5L227 0L1176 65L1441 0V100H0V78.5Z" fill="#fdf7f6"/>
  </svg>

</div>

<div class="bg-grey-light">
  <div class="container mx-auto flex-full-center-col mt-5 mb-32">
    <h2 class="mb-5 text-grey-dark flex flex-col">
      OUR SPONSOR
      <span class="flex-1 border border-grey-dark"></span>
    </h2>
    <a href="https://www.freshworks.com"
        aria-label="freshworks logo">
      {{svg-jar "logo-fworks-black" class="h-16"}}
    </a>
  </div>
</div>
