<div class="relative mt-12">
  <div class="relative text-center pt-32 pb-16 z-10" style="background: linear-gradient(180deg, rgba(58, 0, 93, 0.78) 6.52%, #23698F 98.04%);">
    <div class="container mx-auto inline-block my-24">
      <h1 class="mb-2 mx-auto inline-block">
        <span class="uppercase text-white">EmberJS Chennai Chapter</span>
        <div class="clearfix"></div>
        <div class="text-3xl text-amber-light inline-block float-left font-normal">9th November 2019</div>
        <div class="text-3xl text-amber-light inline-block float-right font-normal">Freshworks, Chennai, IN</div>
      </h1>
    </div>
    <div class="clearfix"></div>
    <a class="btn primary-btn mb-24" href="https://www.meetup.com/EmberJS-Chennai/events/265579607/" target="_blank" rel="noopener">
      RSVP for meetup
    </a>
  </div>
  <img class="absolute pin-b" src="assets/images/hero-bg.svg" style="bottom: -8rem" alt="hero-image">
  
  <svg viewBox="0 0 1441 85" fill="none" xmlns="http://www.w3.org/2000/svg" 
      class="absolute pin-b h-32 z-10 w-full h-auto"
      style="bottom: -2.5rem">
    <path d="M0 38.5L459.5 0L1176 46L1441 0V85H706H0V38.5Z" fill="#FDFDFD" />
  </svg>
</div>



{{!-- <div class="mt-12 w-screen">
  <div class="container mx-auto p-5 text-xl">
    <p class="mb-5">
      Hello Chennai,
    </p>
    <p>
      We look forward to our second EmberJS meet-up on November 9th, 2019 (Saturday).
      Join us at Freshworks office at 9 AM for some amazing talks.
    </p>
  </div>
</div> --}}

<div class="container mx-auto flex flex-col items-center p-10 bg-white">
  <h3 class="mb-10 mt-5">Previous meet-up talk featured:</h3>

  <div class="w-10/12 flex-full-center flex-wrap">

    <div class="flex flex-col mx-16 my-8">
      <a class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/gokul.jpg" class="h-full w-full object-cover" alt="">
      </a>
      <div class="flex-full-center mt-2">
        Gokul Kathirvel
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" 
          href="https://twitter.com/_gokatz"
          target="_blank" rel="noopener">
        @_gokatz
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <a class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/gopal.jpeg" class="h-full w-full object-cover" alt="">
      </a>
      <div class="flex-full-center mt-2">
        Gopal Venkatesan
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/g13n" target="_blank" rel="noopener">
        @g13n
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <a class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/vivek.jpg" class="h-full w-full object-cover" alt="">
      </a>
      <div class="flex-full-center mt-2">
        Kandha Vivek Raj
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/keviv_raj" target="_blank" rel="noopener">
        @keviv_raj
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <a class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/siva.jpg" class="h-full w-full object-cover" alt="">
      </a>
      <div class="flex-full-center mt-2">
        Sivasubramanyam A
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/sivaSupermanyam" target="_blank" rel="noopener">
        @sivaSupermanyam
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <a class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/Rajasegar.jpg" class="h-full w-full object-cover" alt="">
      </a>
      <div class="flex-full-center mt-2">
        Rajasegar Chandiran
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/rajasegar_c" target="_blank" rel="noopener">
        @rajasegar_c
      </a>
    </div>

    <div class="flex flex-col mx-16 my-8">
      <a class="h-48 w-48 border-4 border-amber-medium rounded-full overflow-hidden shadow">
        <img src="assets/images/kanjarla-praneeth.jpeg" class="h-full w-full object-cover" alt="">
      </a>
      <div class="flex-full-center mt-2">
        Kanjarla Praneeth
      </div>
      <a class="flex-full-center mt-1 text-blue-dark" href="https://twitter.com/pranith024" target="_blank" rel="noopener">
        @pranith024
      </a>
    </div>

  </div>

</div>

<div class="flex flex-col talks-schedule">

  <div class="p-10">
    <h3 class="text-center mb-12">Schedule</h3>

    <TalksSchedule />


    <div class="mt-10 text-center">
      <LinkTo @route="schedule" class="btn primary-btn">
        Detailed Schedule
      </LinkTo>
    </div>

  </div>

  {{!-- SVG angled Border for schedule section --}}
  <svg viewBox="0 0 1441 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-auto">
    <path d="M0 78.5L227 0L1176 65L1441 0V100H0V78.5Z" fill="#fdf7f6"/>
  </svg>

</div>

<div class="bg-grey-light">
  <div class="container mx-auto flex-full-center-col mt-5 mb-32">
    <h2 class="mb-5 text-grey-dark flex flex-col">
      OUR SPONSOR
      <span class="flex-1 border border-grey-dark"></span>
    </h2>
    <a href="https://www.freshworks.com"
        aria-label="freshworks logo">
      {{svg-jar "logo-fworks-black" class="h-16"}}
    </a>
  </div>
</div>
