<div class="hero-section relative overflow-hidden">
  <div class="container mx-auto flex flex-col items-center justify-center h-full -mt-24 sm:-mt-40 lg:-mt-48 xl:flex-row xl:justify-between">
    <div class="hero-text-left flex flex-col items-center justify-center xl:mt-12">
      <div class="text text-white uppercase text-5xl font-bold text-center leading-tight">
        EmberJS Chennai
      </div>

      <div class="flex flex-col w-full items-center sm:flex-row sm:justify-between xl:flex-col">
        <div class="text-amber-medium">
          September 11th, 2020
        </div>

        <div class="text-amber-medium m-1 xl:hidden">
          Virtual Meetup
        </div>
      </div>
    </div>

    <div class="rsvp-btn-wrapper mt-8 z-10">
      <img src="assets/images/zoey.png" alt="zoey image" class="w-16 hidden xl:block">
      <a class="rsvp-btn btn bg-amber text-white rounded-lg border-2 border-soft-amber hover:bg-ember"
          href="https://www.meetup.com/EmberJS-Chennai/events/272592887/" target="_blank" rel="noopener">
        RSVP for meetup
      </a>
    </div>
  </div>

  <img class="hero-image absolute bottom-0 w-full sm:px-2 lg:px-24 xl:px-5 hidden xl:block"
    src="assets/images/hero-bg.svg"
    alt="hero-image">
  <img class="hero-image absolute bottom-0 w-full sm:px-2 lg:px-24 xl:px-5 xl:hidden"
    src="assets/images/chennai-bg-big.png"
    alt="hero-image">
</div>

<div class="mx-auto flex flex-col items-center py-10 bg-white max-w-full xl:-mt-16 xl:z-10">
  <h3 class="mb-10 mt-5">Featuring Talks By</h3>

  <div class="flex flex-wrap justify-center items-start">
    {{#each this.schedule as |speaker|}}

      {{#if (equal speaker.type "talk")}}
        <Speaker @speaker={{speaker}} />
      {{/if}}

    {{/each}}
  </div>

  {{!-- <LinkTo @route="schedule" class="btn primary-btn mb-10">View Detailed Schedule</LinkTo> --}}

</div>

<div class="flex flex-col talks-schedule">

  <div class="p-10">
    <h3 class="text-center mb-8">
      <span class="relative">
        Schedule
        <img src="/assets/images/teaching-tomster.png" class="absolute tomster" alt="">
      </span>
    </h3>

    <TalksSchedule />


    {{!-- <div class="mt-10 text-center">
      <LinkTo @route="schedule" class="btn primary-btn">
        Detailed Schedule
      </LinkTo>
    </div> --}}

  </div>

  {{!-- SVG angled Border for schedule section --}}
  <svg viewBox="0 0 1441 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-full h-auto">
    <path d="M0 78.5L227 0L1176 65L1441 0V100H0V78.5Z" fill="#fdf7f6"/>
  </svg>

</div>

<div class="bg-grey-light">
  <div class="container mx-auto flex-full-center-col mt-5 mb-32">
    <h2 class="mb-5 text-grey-dark flex flex-col">
      OUR SPONSOR
      <span class="flex-1 border border-grey-dark"></span>
    </h2>
    <a href="https://www.freshworks.com"
        aria-label="freshworks logo">
      {{svg-jar "logo-fworks-black" class="h-16"}}
    </a>
  </div>
</div>
