<PageTitle @titleText="Location" />

<div class="container mx-auto flex flex-col md:flex-row mt-10  mb-5">
  <div class="flex flex-col justify-center mx-auto mb-4 md:flex-1 md:pb-24">
    <div class="flex flex-col items-center text-4xl lg:text-4xl">
      Freshworks Pvt Ltd <br>
      Global Infocity <br>
      Perungudi, Chennai <br>
      600096
    </div>
    
    <div class="flex items-center justify-center mt-10 text-2xl">
      <span>
        C Block GroundFloor Cafeteria
      </span>
    </div>
  </div>
  <div class=" md:flex-1 relative h-0 overflow-hidden pb-32 h-64 md:h-auto">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0362710974864!2d80.24157121492568!3d12.969530890857241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6d9e5f8f2b%3A0x7afb2aa6caf3f8e1!2sFreshworks!5e0!3m2!1sen!2sus!4v1563298305703!5m2!1sen!2sus"
      class="absolute pin h-full w-full" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
</div>

<div class="container mx-auto mb-10">
  <h4>
    Instructions:
  </h4>
  <div class="text-lg">
    <br>
    * step 1<br>
    * step 2<br>
    * step 3<br>
  </div>
</div>