<PageTitle @titleText="Location" />

<div class="container mx-auto flex flex-col md:flex-row mt-10 mb-5">
  <div class="md:flex-1 relative h-0 overflow-hidden h-64 md:h-64">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0362710974864!2d80.24157121492568!3d12.969530890857241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6d9e5f8f2b%3A0x7afb2aa6caf3f8e1!2sFreshworks!5e0!3m2!1sen!2sus!4v1563298305703!5m2!1sen!2sus"
      class="absolute pin h-full w-full border-0" width="100%" height="450" frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div class="flex flex-col justify-center mx-auto md:flex-1 align-middle mt-10 md:mt-0">
    <div class="flex flex-col items-center text-xl lg:text-xl">
      B Block Ground Floor Cafeteria<br>
      Freshworks Pvt Ltd <br>
      Global Infocity <br>
      Perungudi, Chennai <br>
      600096
    </div>
  </div>
</div>

<div class="container mx-auto p-10">
  <h4>
    Instructions:
  </h4>
  <ul class="text-lg mb-5">
    <li class="py-3">Register at <a href="https://www.meetup.com/EmberJS-Chennai/events/265579607/" rel="noopener" target="_blank"> Chennai EmberJS meetup event. </a></li>
    <li class="py-3">For those of whom, whose seats are confirmed in the meetup event, we'll send an sms with OTP. This is to be shown at the front gate security to enter Global Infocity premises.</li>
    <li class="py-3">Register your-self at the desk outside Freshworks ground floor cafeteria.</li>
    <li class="py-3">Come to Freshworks ground floor cafeteria and enjoy the event.</li>
    <li class="py-3">Join the <a href="https://discord.gg/emberjs" rel="noopener" target="_blank">#as-india discord channel</a> to meet other Ember developers from India</li>
    <li class="py-3">For any additional info email us at: <a href="mailto:chennaiemberjs@gmail.com" target="_blank" rel="noopener">chennaiemberjs@gmail.com</a></li>
  </ul>
</div>
