<PageTitle @titleText="Location" />

<div class="container mx-auto flex flex-col md:flex-row mt-10  mb-5">
  <div class=" md:flex-1 relative h-0 overflow-hidden pb-32 h-64">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0362710974864!2d80.24157121492568!3d12.969530890857241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d6d9e5f8f2b%3A0x7afb2aa6caf3f8e1!2sFreshworks!5e0!3m2!1sen!2sus!4v1563298305703!5m2!1sen!2sus"
      class="absolute pin h-full w-full border-0" width="100%" height="450" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>

<div class="flex flex-col justify-center mx-auto mb-4">
  <div class="flex flex-col items-center text-4xl lg:text-4xl p-6">
    Freshworks Pvt Ltd, Global Infocity, Perungudi, Chennai
  </div>

  <div class="flex items-center justify-center mt-5 text-2xl">
    <span>
      C Block GroundFloor Cafeteria
    </span>
  </div>
</div>

<div class="container mx-auto p-10">
  <h4>
    Instructions:
  </h4>
  <div class="text-lg mb-5">
    <br>
    * Register yourself at <a href="https://www.meetup.com/Chennai-EmberJS/events/262966706/"> EmberJS chennai meetup event. </a>
    <br><br>
    * For those of whom, whose seats are confirmed in the meetup event, we'll send an OTP. <br> Show that to the front gate security to enter Global Infocity Premises.
    <br><br>
    * Register your-self at the Freshworks Frontend desk GroundFloor B block.
    <br><br>
    * Come to freshworks Ground Floor Cafeteria and enjoy the event.
    <br><br>
    * Join the <a href="https://discord.gg/emberjs" target="_blank">#as-india</a> discord group for any instructions on that day.
    <br><br>
    * For any additional info contact:<br>
    <div class="ml-5 mt-2">
      <span>
        Robin: +91 8907890799
      </span>
      <br>
      <span>
        Ashwin: +91 9840797492
      </span>
      <br>
    </div>
  </div>
</div>