<div class="pt-24 flex-full-center">
  <h3 class="text-grey-dark">
    Schedule August 3rd
  </h3> 
</div>

<div class="container mx-auto flex flex-col mb-24 mt-10">
  {{#each this.scheduleList as |session index|}}
    <ConferenceSession @session={{session}} @pos={{index}}/>
  {{/each}}
</div>
