<PageTitle @titleText="Supported by our wonderful sponsor" class="p-3"/>

<div class="container mx-auto flex-full-center-col mt-24 mb-32">
  <a href="https://www.freshworks.com">
    {{svg-jar "logo-fworks-black" class="h-16 md:h-24"}}
  </a>

  {{!-- <div class="mt-5 text-xl text-grey-dark">
    some text about freshworks and and how freshworks uses ember!
  </div> --}}
</div>